APP_FIREBASE_API_KEY="<Firebase API Key>"
APP_FIREBASE_AUTH_DOMAIN="<Firebase Auth Domain>"
APP_FIREBASE_PROJECT_ID="<Firebase Project ID>"
APP_FIREBASE_STORAGE_BUCKET="<Firebase Storage Bucket>"
APP_FIREBASE_MESSAGING_SENDER_ID="<Firebase Messaging Sender ID>"
APP_FIREBASE_APP_ID="<Firebase App ID>"
APP_FIREBASE_RECAPTCHA_ENTERPRISE_KEY="<Recaptcha Enterprise Key>"
APP_FIREBASE_APPCHECK_DEBUG_TOKEN="<App Check debug token>"
