<div class="section-wrapper">
  <h3 class="section-title">Recommendations</h3>
  <div class="recommendations-list" ngAccordionGroup [multiExpandable]="true">
    @for (item of recommendations(); track item.id) {
      <div class="recommendation-card">
        <h4 class="m-0">
          <p ngAccordionTrigger [panel]="panelRef" #triggerRef="ngAccordionTrigger" class="recommendation-trigger">
            <span class="recommendation-text-group">
              <span class="recommendation-id">{{ item.id }}: </span>
              <span class="recommendation-text">{{ item.text }}</span>
            </span>

            <!-- 2. Bind rotate class directly to the triggerRef.expanded() signal -->
            <app-expand-more-icon class="expand-icon" [class.expand-icon__expanded]="triggerRef.expanded()" />
          </p>
        </h4>
        <p ngAccordionPanel #panelRef="ngAccordionPanel">
          <ng-template ngAccordionContent>
            <span class="recommendation-reason-label">Reason:</span>
            <span class="recommendation-reason-text">{{ item.reason }}</span>
          </ng-template>
        </p>
      </div>
    } @empty {
      <p class="empty-message">No recommendation.</p>
    }
  </div>
</div>
