<div class="grounding-wrapper">
  @let citations = metadata()?.citations;
  @let numCitations = citations?.length || 0;
  @if (numCitations > 0) {
    <h3 class="section-title">Inline Citations</h3>
    <ol class="ordered-list">
      @for (citation of citations; track citation.title) {
        <li class="list-item">
          <a class="link-anchor" [href]="citation.uri" target="_blank" rel="noopener noreferrer">
            {{ citation.title }}
          </a>
        </li>
      }
    </ol>
  }

  @if (metadata()?.searchQueries) {
    <h3 class="section-title">Search Queries</h3>
    <ol class="ordered-list">
      @for (query of metadata()?.searchQueries; track query) {
        @if (query) {
          <li class="query-text">
            <span class="query-italic">{{ query }}</span>
          </li>
        }
      }
    </ol>
  }

  @if (safeRenderedContent()) {
    <h3 class="section-title">Google Search Suggestions</h3>
    <div [innerHTML]="safeRenderedContent()"></div>
  }
</div>
