<div class="upload-wrapper">
  <input
    type="file"
    id="photo-picker-input"
    (change)="onFileChange($event)"
    [attr.accept]="accepted()"
    class="hidden"
  />
  @if (!previewUrl()) {
    <label
      for="photo-picker-input"
      (dragover)="handleDrag($event)"
      (dragleave)="handleDrag($event, false)"
      (drop)="onDrop($event)"
      class="dropzone"
      [class.drag-active]="isDragActive()"
    >
      <app-photo-icon class="photo-icon pointer-events-none" />
      <p class="upload-title pointer-events-none">Click to upload an image</p>
      <p class="upload-subtitle pointer-events-none">PNG, JPG, JPEG or WEBP</p>
    </label>
  } @else {
    <div class="preview-container group">
      <img [src]="previewUrl()!" alt="Selected preview" class="preview-image" />
      <div class="action-overlay">
        <label
          for="photo-picker-input"
          aria-label="Select a new image"
          class="mb-2 btn-image-selector cursor-pointer text-center"
        >
          Change Image
        </label>
        <button type="button" (click)="clearSelectedFile()" aria-label="Remove the image" class="btn-image-selector">
          Remove Image
        </button>
      </div>
    </div>
  }
  <button
    type="button"
    (click)="generate.emit()"
    [disabled]="!previewUrl() || isLoading()"
    class="btn-generate btn-primary"
  >
    @if (isLoading()) {
      <app-spinner-icon class="spinner" />
    }
    {{ isLoading() ? 'Analyzing...' : 'Generate Description' }}
  </button>
</div>
